.add-property {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  color: darkolivegreen;
}

.add-property-form {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.add-property label {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-text,
.input-number,
.input-email,
.select-type,
.select-city {
  width: 300px;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  display: inline-block;
}

.button-add {
  width: 300px;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}

.button-add:hover {
  background-color: darkgrey;
  color: white;
}
