.navbar {
  text-align: center;
  /* background-color: lightgoldenrodyellow; */
  background-color: white;
  /* border-bottom: 2px solid grey; */
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  width: 180px;
  height: 40px;
  align-self: center;
}

.navbar-links-item a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.navbar li {
  margin: 0;
  padding: 20px;
  display: inline-block;
}

/* .navbar li:hover {
  background-color: lightcyan;
} */

.classVP {
  background-color: rgba(0, 0, 0, 0.2);
}

.classVP a {
  color: white;
}

.classAP {
  background-color: rgba(0, 0, 0, 0.2);
}

.classAP a {
  color: white;
}

.classSP {
  background-color: rgba(0, 0, 0, 0.2);
}

.classSP a {
  color: white;
}

.button-sign-out {
  color: white;
  font-weight: bold;
  background-color: #3b5998;
  padding: 20px;
}

.facebook-login {
}
