.property-card {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

.property-card ul {
  border: 2px lightseagreen solid;
  margin: 5px;
  padding: 0;
  width: 200px;
}

.property-card li {
  display: block;
  margin: 5px;
  padding: 0;
  /* border: 2px red solid; */
  /* width: 100%; */
}

.property-card-type {
  font-style: italic;
}

.property-card-email {
  text-align: center;
  background-color: darkcyan;
}

.property-card-email a {
  text-decoration: none;
  color: white;
}
