.side-bar-links {
  display: flex;
  flex-direction: column;
}

.side-bar-links-item a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(144, 0, 227);
  font-size: smaller;
}

.side-bar ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.side-bar li {
  margin: 0;
  padding: 10px;
  display: inline-block;
}

.search-form {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 30px;
  display: flex;
}

.search-form input {
  margin: 0;
  padding: 0;
  width: 160px;
  background-color: rgb(213, 245, 255);
  border: 1px black solid;
}
.search-form button {
  margin: 0;
  padding: 0;
  width: 40px;
}

.search-form button:hover {
  background-color: rgb(255, 200, 152);
}

.cityGroup,
.sortGroup {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
}
